<div class="msgs">
  <div class="msg_history">
    <ul>
    <li class="message" *ngFor="let message of room.messages">
      <div
        *ngIf="message.senderId !== currentUser?.id;
                    then incoming_msg;
                    else outgoing_msg"
      ></div>
      <ng-template #incoming_msg>
        <div class="incoming_msg">
          <div class="incoming_msg_img">
            <img
              src="https://i.imgur.com/k2PZLZa.png"
              alt="User avatar"
            />
          </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <div *ngIf="message.likedUserId!==null&&message.likedUserId.length!==0" >
                <div>{{message.likedUserId.length}}</div>
              </div>
              <p>{{ message.content }}</p>
              <!-- Show media -->
            <div *ngIf="message.fileName !== null">
              <div *ngIf="message.fileType === 'image'">
                <img src="http://localhost:8070/chat/media/{{message.fileName}}" alt="image">
              </div>
              <div *ngIf="message.fileType === 'video'">
                <video width="260" controls>
                  <source src="http://localhost:8070/chat/media/{{message.fileName}}">
                  Your browser doesn't support HTML5 video tag.
                </video>
              </div>
              <div *ngIf="message.fileType === 'doc'">
                <a href="http://localhost:8070/chat/document/download/{{message.fileName}}">{{message.fileName}}</a>
              </div>
            </div>
            <!-- End media -->
            </div>
            <div *ngIf="room.chatType==='SYSTEM'
                    then hide_btn
                    else show_btn;">
            </div>
            <ng-template #hide_btn>
            </ng-template>
            <ng-template #show_btn >
              <div class="btn-group dropright">
              <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item btn-sm" (click)="deleteMessage(message.id)">Delete</button>
                <button class="dropdown-item btn-sm" (click)="likeMessage(message.id)">Like</button>
              </div>
            </div>
            </ng-template>
          </div>
        </div>
      </ng-template>
      <ng-template #outgoing_msg>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <div class="btn-group dropright">
              <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item btn-sm" (click)="deleteMessage(message.id)">Delete</button>
                <button class="dropdown-item btn-sm" (click)="updateMessage(message.id, message.content)">Update</button>
              </div>
            </div>
            <div *ngIf="message.likedUserId!==null&&message.likedUserId.length!==0" >
              <div>{{message.likedUserId.length}}</div>
            </div>
            <p>{{ message.content }}</p>
            <!-- Show media -->
            <div *ngIf="message.fileName !== null">
              <div *ngIf="message.fileType === 'image'">
                <img src="http://localhost:8070/chat/media/{{message.fileName}}" alt="image">
              </div>
              <div *ngIf="message.fileType === 'video'">
                <video width="260" controls>
                  <source src="http://localhost:8070/chat/media/{{message.fileName}}">
                  Your browser doesn't support HTML5 video tag.
                </video>
              </div>
              <div *ngIf="message.fileType === 'doc'">
                <a href="http://localhost:8070/chat/document/download/{{message.fileName}}">{{message.fileName}}</a>
              </div>
            </div>
            <!-- End media -->
          </div>
        </div>
      </ng-template>
    </li>
</ul>
  </div>
  <div *ngIf="room.chatType==='SYSTEM' && currentUser.role==='ROLE_USER'
        then hide_msg
        else show_msg;"></div>
        <ng-template #hide_msg>
          <div></div>
        </ng-template>
        <ng-template #show_msg>
          <div class="type_msg">
            <form class="input_msg_w rite" (ngSubmit)="sendMessage()">
              <label>
                <input
                  type="text"
                  class="write_msg"
                  placeholder="Type a message"
                  name="newMessage"
                  [(ngModel)]="newMessage">
              </label>
                <!-- <label class="file_choose_btn" for="exampleInputFile"><i class="fa fa-paperclip" aria-hidden="true" style="font-size:30px;color: #10804E;"></i></label>
                <input type="file" name="file" (change)="fileChange($event)" class="msg_send_btn" id="exampleInputFile" aria-describedby="fileHelp"> -->

                <div>
                    <div>
                      <input type="file" name="profile" (change)="onFileSelect($event)" />
                    </div>
                </div>

              <button class="msg_send_btn" type="button" (click)="sendMessage()">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </ng-template>
</div>



