.messaging {
  padding: 0 0 50px 0;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.heading_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.channel_heading {
  float: left;
  width: 40%;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}


.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.channel_heading h4 {
  color: #10804E;
  font-size: 21px;
  margin: auto;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

